  // Import custom SASS variable overrides, or alternatively
  // define your variable overrides here instead
  // @import 'assets/custom-vars.scss';

  // Import Bootstrap and BootstrapVue source SCSS files
  @import '~bootstrap/scss/bootstrap.scss';
  @import '~bootstrap-vue/src/index.scss';

  // General style overrides and custom classes
  body {
    padding: 8px;
    margin: 0;
  }

  .my-widget {
    color: var(--danger);
  }
  // ...

  .custom-header {
    // https://www.gradient-animator.com/
    background: linear-gradient(270deg, #00eeb0, #ad00ee, #eeb400);
    background-size: 600% 600%;
  
    -webkit-animation: custom 30s ease infinite;
    -moz-animation: custom 30s ease infinite;
    animation: custom 30s ease infinite;
  
    @-webkit-keyframes custom {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes custom {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes custom {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }